Thumbs.db
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
.local/
*.sdf

.obj*/
!Release/waves/*
!Release/*.rtf
*.exp
*/Win32/Debug/
*/Win32/Release/
*/x64/Debug/
*/x64/Release/
*/cov-int
T-Clock*.zip
T-Clock*.7z
*.layout
*.save
*.depend
*log.html
*.lnk
*Results.xml

_*
Static/
*.[0-9].*
